#Body {
  background-image: url(images/news-two-background-red.png);
  background-color: #c2191f;
}

.NewsTwoMain .header {
  border-bottom: solid 1px #720000;
}
.NewsTwoMain .header .main-menu {
  background-color: #720000;
}
.NewsTwoMain .header .main-menu ul > li:hover > a {
  text-shadow: -1px -1px 0px #750504;
  background-color: #ac0906;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .NewsTwoMain .header .main-menu ul > li:hover {
    background-color: #ac0906;
  }
}
.NewsTwoMain .header .main-menu ul > li > a {
  text-shadow: -1px -1px 0px #540000;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .NewsTwoMain .header .main-menu ul > li > a:hover {
    background-color: transparent;
  }
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .NewsTwoMain .header .main-menu ul > li.active {
    background-color: #e20303;
    text-shadow: -1px -1px 0px #9f0104;
  }
}
.NewsTwoMain .header .main-menu ul > li.active > a {
  background-color: #e20303;
  text-shadow: -1px -1px 0px #a20204;
}
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .NewsTwoMain .header .main-menu ul > li.active > a {
    background: transparent;
  }
}
.NewsTwoMain .header .main-menu ul > li.disabled > span {
  text-shadow: -1px -1px 0px #540000;
}
.NewsTwoMain .header .main-menu ul > li > ul li:hover > a {
  color: #e00303;
}
.NewsTwoMain .header .main-menu ul > li > ul li a:hover {
  color: #e00303;
}
.NewsTwoMain .header .main-menu ul > li > ul li.active > a {
  color: #e00303;
}
.NewsTwoMain .header .login-language-social-container #login ul li a span {
  background-image: url(images/info-span-bg.png);
  text-shadow: 1px 1px 0px #b4080a;
}
.NewsTwoMain .header .login-language-social-container #login ul li.userDisplayName a {
  color: #707070;
}
.NewsTwoMain .header .login-language-social-container #login .registerGroup a, .NewsTwoMain .header .login-language-social-container #login .registerGroup * a, .NewsTwoMain .header .login-language-social-container #login .loginGroup a, .NewsTwoMain .header .login-language-social-container #login .loginGroup * a {
  color: #707070;
}
.NewsTwoMain .header .login-language-social-container .language .language-object .Language.selected img {
  border-color: #cd0c11;
}
.NewsTwoMain .header .login-language-social-container .social-links a {
  background-image: url(images/skin-social-icons.png);
}
.NewsTwoMain .NewsTwoContent a {
  color: #e00303;
}
.NewsTwoMain .NewsTwoContent .NewsTwo-social .DnnModule-SocialGroups .dnnGroupDirectory .dgdMainContent .createGroup {
  background-color: #d20101;
}
.NewsTwoMain .NewsTwoContent .NewsTwo-social .dnnMemberDirectory #mdMemberList > li .mdHoverActions a {
  color: #e00303;
}
.NewsTwoMain .NewsTwoContent .NewsTwo-social .dnnForm .dnnAdminTabNav li a span {
  background-image: url(images/info-span-bg.png);
  text-shadow: 1px 1px 1px #b4080a;
}
.NewsTwoMain .NewsTwoContent .NewsTwo-social .dnnForm .messageControls .messageSelect ul li ul li a {
  color: #e00303;
}
.NewsTwoMain .NewsTwoContent .NewsTwo-social .DnnModule-ViewProfile .UserProfileControls ul li a {
  color: #e00303;
}
.NewsTwoMain .NewsTwoContent .NewsTwo-social .journalTools #journalEditor #tbar span {
  background-image: url(images/journal-icons.png);
}
.NewsTwoMain .NewsTwoContent .NewsTwo-social .journalTools #btnShare {
  background-color: #d20101;
}
.NewsTwoMain .NewsTwoContent .NewsTwo-social #journalItems .likes .juser {
  color: #e00303;
}
.NewsTwoMain .NewsTwoContent .dnnCoreMessagingFooter .ComposeMessage {
  background-color: #d20101;
}
.NewsTwoMain .NewsTwoBottom .bottom-wraper a {
  color: #707070;
}
.NewsTwoMain .NewsTwoBottom .bottom-wraper a:hover {
  color: #e00303;
}

